body {
  background-color: #9C835F;
  ;
}

.topGame {
  /* background-color: blue; */
  margin-top: 100px;
  align-items: center;
  text-align: center;
}

.imgAll {
  height: 180px;
  width: 180px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  /* background-color: #f9b23d; */
}

.imgAtas {
  height: 50px;
}
.navbar-brand{
  font-size: 40px;
  color: black;
}

.nav-link {
  font-size: 30px;
  color: #f9b23d;
}
.imgRefresh {
  height: 100px;
}

.versus{
  margin-top: 300px;
  font-size: 100px;
  color: red;
}

#pemenang {
  position: absolute;
  display: block;
  width: 300px;
  height: 140px;
  margin-top: 320px;
  margin-left: 420px;
  background-color: #f9b23d;
  transform: rotate(-8deg);
}